{% extends './base.html' %}
{% block content %}
<div class="row h-100 justify-content-center align-items-center">
        <div class="my-3 py-4 row w-100 border rounded shaded">
            <div class="col-md-12">
            <form class ="frm p-3 w-75">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputJob" placeholder="Enter a job title...">
                </div>
                <button type="submit" class="btn btn-info px-5">Go</button>
            </form>
        </div>   
    </div>
</div>
{% endblock %}